/*header {
	margin-bottom: 0px;
    background-color:black;
    	-webkit-box-shadow: 0 10px 10px -10px black;
    -moz-box-shadow: 0 10px 10px -10px black;
    box-shadow: 0 10px 10px -10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}*/


/*#MainContent_SlideShow {
    margin-left:auto;
    margin-right:auto;
}*/

#logoDiv {
    width:40%;
    /*width: 350px;
    height: 130px;*/
    /*margin-left:auto;
    margin-right:auto;*/
    padding-left: 2em;

}

#nextRace {
    width:40%;
    color: white;
    padding-right:2em;
}

#logo, #text {
    padding-top:7%;
    display:inline;
    margin-left:auto;
    margin-right:auto;
    width: 100px;
    height: 100px;
}

#text {
    width:236px;
}

/*nav {
	color: black;
	background: red;
    background: linear-gradient(0deg, red, black 80%, red);
	height: 50px;
	-webkit-box-shadow: 0 10px 10px -10px black;
    -moz-box-shadow: 0 10px 10px -10px black;
    box-shadow: 0 10px 10px -10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}*/

nav ul li a{
    /*font-size: 1.5em;*/
    /*text-transform: uppercase;*/
    /*line-height: 50px;*/
    /*color: #fff;*/
    margin: 0 20px;
    border: 0;
    float:left;
    display: block;
}

nav ul li { 
    display: inline; 
}

/*nav ul li a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: medium;
    letter-spacing: 1px;
}*/

/*nav ul li a:hover,
nav ul li a:focus {
    color: yellow;
}

nav ul li a:active {
    color:green;
}*/

nav ul li:last-child {
    float: right;
    padding-right: 2em;
    padding-left: 2em;
}

footer {
    /*background-color:black;*/
    background: linear-gradient(180deg, red, black 20%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clear: both;
    font-size: .8em;
    height: 70px;
    position: absolute;
}

    /*footer div {
        display:inline-block;
    }*/

    /*footer p {
        color:white;
    }*/

.checkeredFlags {
    background-image: url('../Images/chkflag.jpg') ;
    height: 30px;
}


.float-left {
    float: left;
    text-align:left;
}

.float-right {
    float: right;
    text-align:right;
}

.float-center {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
}

/*body {
    background-color:whitesmoke;
    width:100%;
    font-family: Arial, sans-serif;
}*/

/*p {
    margin-left:10px; 
}*/

#body {
    padding-top:50px;
}

#copyright {
    padding-right:1em;
}

#icons {
    padding-left:1em;
}

/*footer a {
    text-decoration:none;

}


}*/
   