.content {
    
}
    .content p {
        margin-left:10px;
        margin-right:10px;
        margin-bottom:10px;
    }

    .content h1,h2,h3,h4,h5 {
        margin-left:10px;
    }

    .content ul li {
        margin-left:10px;
    }
    /*
    #homecontent ul {      
        list-style-image: url('./images/flaglisticon.png');
    }
    */

#home