/*
Title: style.css
Date Created: 24/01/2014
Author: Cory Hall
Description: This css file contains styling for all the content pages
*/

.content {
    
}
    .content p {
        margin-left:10px;
        margin-right:10px;
        margin-bottom:10px;
    }

    .content h1,h2,h3,h4,h5 {
        margin-left:10px;
    }

    .content h4 {
        text-decoration:underline;
    }

    .content ul li {
        margin-left:10px;
    }

.seperator {
    height:1px;
    background: linear-gradient(90deg, whitesmoke, black 50%, whitesmoke);
}