#header {
    width:80%;
    height: 250px;
    background-color:whitesmoke;
    margin-left:auto;   
    margin-right:auto;   
    background-image:url('../Images/Logo_sm.jpg');
    background-repeat: no-repeat;

}

#banner {
    height:200px;
    /*background:url(*/
}

nav {
    height:50px;
	-webkit-box-shadow: 0 8px 8px -8px black;
    -moz-box-shadow: 0 8px 8px -8px black;
    box-shadow: 0 8px 8px -8px black;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    
}

nav ul li { 
    display: inline; 
    padding-right: 1em;
    padding-left: 1em;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    padding-top:30%;
    background-color:red;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: white;
    /*background-color: green;*/
}

#body {
    font-family: Arial, sans-serif;
    font-size: medium;
    width: 80%;
    background-color:whitesmoke;
    margin-left:auto;   
    margin-right:auto;
}
